/* Remove persistent scrollbar */
html,
body {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none; /* Chrome and Safari */
  width: 0;  /* Remove scrollbar space */
  background: transparent;
}

.version-tag {
  font-family: monospace;
}